*{
    margin: 0;
    padding: 0;
    font-family: "VT323";
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(/xdimgbackg.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
}

.holder{
    margin: auto;
    margin-top: 1.9rem;
    width: 25rem;
    height: 33rem;
    border: 2px solid rgba(255, 255, 255, 0.562);
    border-radius: 20px;
    align-items: center;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
    box-shadow: 2px 2px 10px white;
    transition: 0.8s ease-out;
}

.mainHead {
    margin-top: 2rem;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.formDiv {
    margin: auto;
    margin-top: 3rem;
    align-items: center;
}

.secHead {
    margin-top: 2rem;
    margin-left: 5rem;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px black;
    letter-spacing: 3px;
}

.inp {
    margin-top: 0.4rem;
    margin-left: 4.7rem;
    width: 15rem;
    height: 1.5rem;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(250, 0, 0), rgb(250, 143, 3), rgb(255, 230, 0));
    border-image-slice: 1;
    padding: 5px;
}

.btn {
    margin-top: 2.5rem;
    margin-left: 8.8rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}

.pHold{
    margin-top: 2.5rem;
    color: white;
    text-align: center;
    text-shadow: none;
    font-size: 20px;
}

.holder:hover{
    box-shadow: 5px 5px 120px rgba(255, 255, 255, 0.753);
    backdrop-filter: blur(5px);
    transition: 1,5s;
}

.secHead:hover{
    text-shadow: 4px 5px 5px black;
}

.inp:hover{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn,  rgb(255,230,0), rgb(152,251,152), #8201fc);
    border-image-slice: 1;
    /* border-image: linear-gradient(0.25turn, rgb(255, 230, 0)), rgb(152,251,152), rgba(254, 255, 254, 0.253); */
    border-image-slice: 1;
    transition: 1s;
}

.inp::placeholder{
    text-shadow: 3px 3px black;
}

.inp:hover::placeholder{
    color: rgb(152,251,152);
}

.btn:hover{
    margin-left: 7.4rem;
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
    transition: 1s;
}

/* R E S P O N S Y W N O S C */

/* @media screen and (max-width: 1415px){

    body{
        background-size: auto;
    }

    .holder{
        width: 25rem;
        height: 25rem;
    }

    .mainHead{
        font-size: 25px;
    }

    .secHead{
        font-size: 20px;
    }

    .inp{
        height: 0.8rem;
    }
} */